DB_USERNAME=root
DB_PASSWORD=yourpassword
JWT_SECRET=cHN5Y2hvY2FyZS1zZWNyZXQta2V5LXZlcnktc2VjdXJlLTI1NiBiaXRzLWxvbmctZW5vdWdo
JWT_EXPIRATION=86400000
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=noreply@yourcompany.com
MAIL_PASSWORD=yourgmailapppassword
SERVER_PORT=8081
UPLOAD_DIR=uploads/
UPLOAD_CV_DIR=uploads/cv/
UPLOAD_PROFILE_DIR=uploads/profiles/
